<nav class="navbar navbar-expand-sm navbar-dark bg-secondary fixed-top p-0">
    <div class="container">
        <a class="navbar-brand py-auto" href="/">
            <h3 class="display-5 nametitle">
                MongoScrapper
            </h3>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navdrop">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse p-0" id="navdrop">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link pt-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pt-3" href="/saved/articles">Saved Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/scrape"><button class="btn btn-danger px-4" type="submit">Scrape
                            Articles</button></a>
                </li>

            </ul>
        </div>
    </div>
</nav>